*{
    margin: auto;
    padding: 0px;
    font-family: SVN-Gotham;
}


@font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Black.otf);
    font-weight: bolder;
  }
@font-face{
    font-family: SVN-Gotham;
    src:url(fonts/SVN-Gotham\ Black\ Italic.otf);
    font-style: italic;
    font-weight: bolder;
}
@font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Bold.otf);
    font-weight: bold;
  }
  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Bold\ Italic.otf);
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Italic.otf);
    font-style: italic;
  }
  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Light.otf);
    font-weight: lighter;
  }

  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Light\ Italic.otf);
    font-weight: lighter;
    font-style: italic;
  }

  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Regular.otf);
    font-style: normal;
  }

  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Thin.otf);
    font-size: small;
  }

  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Thin\ Italic.otf);
    font-size: small;
    font-style: italic;
  }

  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Book.otf);
    font-size:medium;
  }

  @font-face {
    font-family: SVN-Gotham;
    src: url(fonts/SVN-Gotham\ Book\ Italic.otf);
    font-size:medium;
    font-style: italic;
  }



/* header */
.header{
    position: relative;

}

.header img{
    height: 150px;
    top: 50%;
    right: 50%;
}

.header ul{
    display: flex;
    list-style: none;
}

.header ul li{
    float:left;
}

.header a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.header ul{
    margin-top: 20%;
    float: right;
}

.header .text{
    margin-top: 20%;
}

/* navbar */
.navbar{
    margin-top: 10px;

    font-weight: bold;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: rgba(138, 109, 59, 1) !important; 
  color: #fff; 
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
.dropdown-menu > li > a:active {
  background-color: rgba(138, 109, 59, 1) !important; 
  color: #fff; 
}


.site-nav-cart a:hover {
  background-color: rgba(138, 109, 59, 1) !important; 
}


.site-nav-account a:hover {
  background-color: rgba(138, 109, 59, 1); 
}
/* neo-header */
.neo-header{
    width: 100%;
    position: relative;
}

.neo-header img{
    background-size: cover;
    background-position: center;
    display: block;
}

.neo-header h4{
    position: absolute;
    top: 45%;
    left: 45%;
    color: white;

    font-weight: 300;
}

.neo-header h1{
    position: absolute;
    top: 40%;
    left: 6%;
    color: white;
}
/* content */
.content{

    text-align: center;
    margin-top: 10px;
}

.content img{
    float:none;
    margin-left: -20px;
}

.content table{
    text-align: start;
}

.login form{
    margin-left: 25%;
}

.register form{
    margin-left: 22%;
}

.banner{
    width: 100%;
}


section h4{
    color: grey;
}

section h4{
    text-align: center;
}

section p{
    text-align: center;
}

section h3{
    text-align: center;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}

.footer{
    clear: both;
    margin-top: 20px;
    background-color:rgb(236, 236, 236);
}

.footer li{
    background-color: transparent;
    letter-spacing: 2px;
    font-size: small;
}
#txtSearch{
    border:0;
}
#btnSearch{
    border:0;
}
.footer-social ul#footersocial {
    list-style: none;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items horizontally */
    align-items: center; /* Center items vertically */
}

.footer-social ul#footersocial li {
    margin-right: 20px; /* Add some space between the icons */
}

.footer-social ul#footersocial li:last-child {
    margin-right: 0; /* No margin for the last item */
}
.responsive-img {
    max-width: 100%;
    height: auto;
    width: fit-content;
}
/* section_blog */
.section_blogs h2 a {
    color: #1c1c1c;

    text-align: center;
}

.section_blogs a h3 {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.67;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    text-align: center;
}
.section_blogs a p {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.52px;
    margin-bottom: 0;
    color: #1c1c1c;
    text-align: left;
    word-wrap: break-word;
}
.section_blogs.section_blogs_2 a p {
    text-align: center;
}
.section_blogs.section_blogs a p {
    text-align: center;
} 
h5,h6{
    text-align: center;
}
h2.text-center a:hover {
    text-decoration: none; 
  }
#buy-button {
    background-color: gray; 
    color: white; /* Màu chữ trắng */
    transition: background-color 0.5s ease; /* Hiệu ứng chuyển đổi màu nền trong 0.3 giây */
  }
  
  #buy-button:hover {
    background-color: black; /* Màu nền chuyển sang đen khi di chuột qua */
  }
  li.list-group-item a:hover {
    text-decoration: none; 
  }
  .news-items a:hover {
    text-decoration: none; 
  }
  .news-items h3:hover {
    color: rgba(138,109,59,255); 
  }
  .news-items h3 {
    font-weight: bold !important; 
  }
/* hethongcuahang */
.sectionContentStore .leftCollumStore .resultStore #list-store .item {
    padding-left: 25px;
    position: relative;
    font-size: 13px;
    letter-spacing: 1px
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item+.item {
    margin-top: 6px
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item:hover {
    cursor: pointer
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item i {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 14px
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item .district {
    font-weight: 500;
    text-transform: uppercase;
    color: #1c1c1c
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item.checked {
    background-color: #1c1c1c;
    color: #fff;
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item.checked .district {
    color: #fff
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item:hover {
    background-color: rgba(138, 109, 59, 1);
    color: #fff
}

.sectionContentStore .leftCollumStore .resultStore #list-store .item:hover .district {
    color: #fff
}

.sectionContentStore #map {
    height: 500px;
    width: 100%
}
/* movetop */
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(/DoAnHTCMNW_IUH-main/picture/arrow_up.png) no-repeat right top;
}
#toTopHover {
	width: 48px;
	height: 48px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 1;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}


 